{{#if products.length}}
  <table class="product-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Code</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Add to cart</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr class="product-row">
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.code}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>
            {{!-- <form action="/api/carts/:cid/products/:pid" method="POST">
              <input type="hidden" name="product_id" value="{{this._id}}">
              <input type="number" name="quantity" value="1" min="1" max="{{this.stock}}">
              <button type="submit" class="btn btn-primary">Add to cart</button>
            </form> --}}
            <button class="btn btn-primary add-to-cart" onclick="addToCart('{{this._id}}')">Add to cart</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="text-center">No products to display</p>
{{/if}}

<div class="pagination-container">
  {{!-- Show total pages and current page --}}
  <p class="current-page">Page {{page}} of {{totalPages}}</p>

  {{!-- Pagination --}}
  <div class="pagination">
    {{#if prevPage}}
      <a href="/products?page={{prevPage}}" class="pagination-link">Previous</a>
    {{/if}}
    {{#if nextPage}}
      <a href="/products?page={{nextPage}}" class="pagination-link">Next</a>
    {{/if}}
  </div>

  {{!-- Total pages --}}
  <p class="total-pages">Total pages: {{totalPages}}</p>
</div>